body {
  background-color: black;
  color: white;
  display: grid;
  height: 700px;
  margin-top: 1em;

  grid-template-columns: 25% auto 25%;
  grid-template-rows: 10% 15% 35% 35%;
}

.page-header, .page-message, .page-login, .page-sign-up {
  justify-self: center;
}

.page-header {
  grid-column: 2 / span 1;
  grid-row: row1-start / 1;
}

.page-message {
  grid-column: 2 / span 1;
  grid-row: row1-end / 2;
}

.page-login {
  grid-column: 2 / span 1;
  grid-row: third-line / 3;
}

.page-sign-up {
  grid-column: 2 / span 1;
  grid-row: fourth-line / 4;
}