<%- include("../partial/head", { title: "Landing Page â­ï¸", styleSheetPath: "/css/landing-page.css" }) -%>

<body>
  <div class="page-header">
    <h1>This is the landing page ðŸš€</h1>
  </div>

  <h3 class="page-message"> <%=msg %> </h3>

  <form id="login-form" method="post" action="/auth/login" class="page-login">
    <h3>Login</h3>
    <div class="form-group row">
      <label for="username" class="col-form-label col-sm-5">Username</label>
      <input class="form-control col-sm-7" type="text" id="username" name="username" placeholder="Username"
        form="login-form" pattern=".{3,}" required title="3 characters minimum">
    </div>
    <div class="form-group row">
      <label for="password" class="col-form-label col-sm-5">Password</label>
      <input class="form-control col-sm-7" type="password" id="password" name="password" placeholder="Password"
        form="login-form" pattern=".{3,}" required title="3 characters minimum">
    </div>
    <button type="submit" id="login-submit" form="login-form" class="btn btn-light float-right">Login</button>
  </form>

  <form id="sign-up-form" method="post" action="/auth/sign-up" class="page-sign-up">
    <h3>Sign-up</h3>
    <div class="form-group row">
      <label for="new-username" class="col-form-label col-sm-5">Username</label>
      <input class="form-control col-sm-7" type="text" id="new-username" name="new_username" placeholder="Username"
        form="sign-up-form" pattern=".{3,}" required title="3 characters minimum">
    </div>
    <div class="form-group row">
      <label for="new-password" class="col-form-label col-sm-5">Password</label>
      <input class="form-control col-sm-7" type="password" id="new-password" name="new_password" placeholder="Password"
        form="sign-up-form" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required title="valid email required">
    </div>
    <div class="form-group row">
      <label for="new-email" class="col-form-label col-sm-5">Email</label>
      <input class="form-control col-sm-7" type="text" id="new-email" name="new_email" placeholder="Email"
        form="sign-up-form" pattern=".{3,}" required title="3 characters minimum">
    </div>
    <button type="submit" id="sign-up-submit" form="sign-up-form" class="btn btn-warning float-right">Sign-up</button>
  </form>

</body>

</html>